In [1]:
import pandas as pd
import numpy as np

- official tutorials: https://pandas.pydata.org/pandas-docs/stable/tutorials.html
- Chinese tutorials: https://github.com/hangsz/pandas-tutorial
- cheat sheet: https://www.dataquest.io/blog/large_files/pandas-cheat-sheet.pdf
- Python For Data Science (2018 Intro Course)
    - https://github.com/jseabold/pycon-ds-2018
    - https://www.youtube.com/watch?v=Prrc6K1f3Lw
- api: http://pandas.pydata.org/pandas-docs/version/0.20/api.html

### Series

In [2]:
ss = pd.Series(data=[1,2,3], index=['a','b','c'], dtype=int, name='series_sample')

In [3]:
ss

a    1
b    2
c    3
Name: series_sample, dtype: int64

### Dataframe

In [8]:
data = [[1,2,3], [4,5,6], [7,8,9]]
index = ['r1','r2','r3']
columns = ['c1','c2','c3']
df = pd.DataFrame(data, index, columns)
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9